<!DOCTYPE html>
<html>
<head>
    <title>Local Farmers Marketplace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>🌱 Local Farmers Produce Direct-Selling Marketplace</h1>

    <p>Fresh produce directly from local farmers.</p>

    <a href="/register">
    <button type="button">Register</button>
    </a>
    <a href="/login">
        <button type="button">Login</button>
    </a>
    <a href="/products">
        <button type="button">Browse Products</button>
    </a>

</body>
</html>